.card {
  width: 400px;
  height: 493px;
  background-color: #100e0e;
  text-align: center;
  margin-left: 2rem;
  padding-bottom: 12px;
  border-radius: 5px;
}
.card img {
  width: 95%;
  margin-top: 9px;
}
.card h3 {
  color: #fff;
  font-size: 22px;
  text-align: left;
  padding: 10px 14px;
  font-weight: 600;
}
.card p {
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 10px 4px 16px 15px;
}
.cardButtons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.cardButtons button {
  width: 105px;
  padding: 11px 2px 11px 1px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  background-color: orange;
  color: #2e2b2b;
}
.contaierProjects {
  background-color: black;
  padding-top: 6rem;
}
.cardProjects {
  display: flex;
  justify-content: space-between;
  width: 76%;
  margin: auto;
  padding-top: 3rem;
}
h1 {
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}
